/*
	SLIDER
*/
/*.slider-wrap								{ width: 419px; position: absolute; top: 87px; left: 40px; }*/		

#main-photo-slider .wrapper img{
	max-width: 320px;
}

#main-photo-slider .wrapper h1{
	font-size: 14px;
}

.stripViewer .panelContainer{
	width: 2000px !important;
}
	
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 350px; height: 225px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 350px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }
#movers-row									{ margin: -43px 0 0 62px; }
#movers-row div								{ width: 20%; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(../images/transpBlack.png); padding: 10px; height: 50px; 
											  margin-top: -50px; position: relative; z-index: 999; color: white; max-width: 320px; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 62px; margin-top: -14px; 
											  position: relative; padding-top: 15px; z-index: 999; }
.active-thumb 								{ background: transparent url(../images/icon-uparrowsmallwhite.png) top center no-repeat; }
